<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240419193243-4dia1ijea467g0mg887hm98phfcalj3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240419193243-4dia1ijea467g0mg887hm98phfcalj3p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240419193243-ktq366bqceduoajfvjao86s1ulu6n2q4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAo6nRqk5zM-aJXyPp-vot_thR76myGHqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>240419193243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meusGastos</string>
	<key>PROJECT_ID</key>
	<string>meus-gastos-7d0de</string>
	<key>STORAGE_BUCKET</key>
	<string>meus-gastos-7d0de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240419193243:ios:3fe16b94968015765ae13e</string>
</dict>
</plist>